.container-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    margin: 15rem 22vw;
}

.line-mask {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.word-mask-container {
    overflow: hidden;
    display: inline-block;
    margin-right: .5rem;
}

.word-mask {
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
}

.parallax-image {
    position: absolute;
    z-index: -1;
    left: 60%;
    top: 120%;
    width: 20vw;
}

@media (max-width:1560px) {
    .word-mask{
        font-size: 3rem;
    }
    .container-about{
        margin: 15rem 25vw;
    }
}

@media (max-width:1100px) {
    .word-mask{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .container-about{
        margin: 15rem 25vw;
    }
}

@media (max-width:650px) {
    .word-mask{
        font-size: 1.5rem;
    }
    .parallax-image {
        position: absolute;
        z-index: -1;
        left: 55%;
        top: 120%;
        width: 30vw;
    }
}

@media (max-width:400px) {
    .word-mask{
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }

    .parallax-image{
        display: none;
    }
}