.container-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    margin: 15rem 22vw;
}

.line-mask {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.word-mask-container {
    overflow: hidden;
    display: inline-block;
    margin-right: .5rem;
}

.word-mask {
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
}

.parallax-image {
    position: absolute;
    z-index: -1;
    left: 70%;
    top: 170%;
    width: 300px; /* Adjust the size as needed */
}

.parallax-image-2 {
    position: absolute;
    left: 70%;
    top: 110%;
    width: 300px; /* Adjust the size as needed */
}
