.information-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 3;
    padding: 0 25%;
}

.information-popup.open {
    opacity: 1;
    visibility: visible;
}

.information-content {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}

.information-content > * {
    flex: 1;
    line-height: 1.5rem;
}

.info-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 10;
}

.title_information{
    color: black;
}