.information-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 3;
    padding: 0 25%;
    pointer-events: none;
}

.information-popup.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.information-content {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}

.information-content > * {
    flex: 1;
    line-height: 1.5rem;
}

.info-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 10;
}

.title_information, .information-content{
    color: black;
}

@media (max-width: 1000px) {
    .information-popup {
        padding: 0 10%;
    }
}

@media (max-width: 600px) {
    .information-content{
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .information-content > * {
        font-size: 0.75rem;
    }
}

@media (max-width: 400px) {
    .information-content > * {
        font-size: 0.5rem;
        line-height: 1rem;
    }

    .title_information{
        font-size: 1rem;    
    }
}